<!-- header -->
<header>
  <ul class="nav nav-tabs">
      <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/customers" routerLinkActive="active">Customers</a>
      </li>
  </ul>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<!-- footer -->
<footer>
  <p>
      <a href="https://jasonwatmore.com/post/2019/11/04/angular-8-router-animation-tutorial-example" target="_blank">Angular 13 - Router Animation Tutorial & Example</a>
  </p>
  <p>
      <a href="https://github.com/heliomarpm/angular_router-animation" target="_blank">Github</a>
  </p>
</footer>
