<h1>Customers</h1>
<a routerLink="add" class="btn btn-sm btn-primary mt-1">Add Customer</a>
<table class="table table-bordered records-table">
    <tr>
        <th>Name</th>
        <th>Lastname</th>
        <th></th>
    </tr>
    <tr *ngFor="let customer of customers">
        <td><a [routerLink]="['edit', customer.id]">{{customer.name}}</a></td>
        <td>{{customer.lastName}}</td>
        <td class="delete-column">
            <button (click)="deleteRecord(customer.id)" [disabled]="customer.deleting" class="btn btn-sm btn-danger">
                <span *ngIf="customer.deleting" class="spinner-border spinner-border-sm mr-1"></span>
                Delete
            </button>
        </td>
    </tr>
</table>
<div class="view-side-form">
    <router-outlet></router-outlet>
</div>
